.item{
  border-radius: 2px;
  width: 350px;
  height: 500px;
  list-style: none;
  margin: 20px 40px;
  font-size: 20px;
}
.img-item-container{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgb(16, 16 , 16);
}
.img-item{
  width: 80%;
}
.text-item{
  height: 40%;
  background-color: rgb(14,14,14);
  padding: 20px 15px;
}
.title-item{
  margin: 0 0 40px 0;
}
.price-item{
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}
.button-item{
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #3a2;
  text-decoration: none;
}