.navbar{
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  margin: 0 0 50px 0;
  font-size: 20px;
  height: 120px;
}
.navbar .logo{
  width: 110px;
  height: 110px;
}
.categories{
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 400;
}
.categories li{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 0 5px;
}
.categories .category{
  color: #3a2;
  text-decoration: none;
}
.categories li:hover{
  cursor: pointer;
  opacity: 9;
  transform: scale(1.3);
  transition: all 0.4s ease;
  background: radial-gradient(
    ellipse 80% 60% at center,
    rgba(103,103,103,0.15) 0%,
    rgba(187,187,187,0.10) 50%,
    rgba(255,255,255,0.00) 70%
  );
}